{% extends "base.html" %}

{% load i18n mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
{% editable object.title %}{% endeditable %}
{% endblock %}


{% block main %}
<div class="link-view">
    <small>        
        <span class="domain">({{ object.domain }})</span>
        
        {% if object.tags.all %}| Tags:
        {% for tag in object.tags.all %}
            <a href="{% url "tag_list" tag.slug %}">{{ tag|title }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}{% endif %}
    </small>     

    <p class="description">
        {% editable object.description %}{% endeditable %}
    </p>

    <p><a href="{{ object.url }}">{% trans "Read more" %}</a></p>

    <div class="link-meta">
        {% rating_for object %}
        by <a href="{% url "profile" object.user.username %}">{{ object.user.profile }}</a>
        {{ object.publish_date|short_timesince }} ago
    </div>
    {% order_comments_by_score_for object %}
    {% comments_for object %}
</div>
{% endblock %}
